### Import Statements

In [6]:
import numpy as np
import pandas as pd

### Data Preprocessing

In [7]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [8]:
movies= movies.merge(credits, on="title")

In [9]:
movies.shape

(4809, 23)

In [5]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [10]:
movies[movies['original_language']=='hi']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1026,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,7504,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",hi,1947: Earth,It's 1947 and the borderlines between India an...,1.246883,"[{""name"": ""Cracking the Earth Films"", ""id"": 22...",...,101.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Earth,6.6,9,7504,"[{""cast_id"": 2, ""character"": ""Dil Navaz"", ""cre...","[{""credit_id"": ""52fe4480c3a36847f8099e81"", ""de..."
2967,7400000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,14395,"[{""id"": 596, ""name"": ""adultery""}, {""id"": 34094...",hi,कभी अलविदा ना कहना,Dev and Maya are both married to different peo...,3.246903,"[{""name"": ""Yash Raj Films"", ""id"": 1569}, {""nam...",...,193.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A Love.... That Broke All Relationships,Kabhi Alvida Naa Kehna,6.1,42,14395,"[{""cast_id"": 1, ""character"": ""Dev Saran"", ""cre...","[{""credit_id"": ""58a5e57892514152a70006bf"", ""de..."
2976,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://housefull.erosentertainment.com/,58051,[],hi,Housefull,Believing himself to be a jinx and bringing ba...,0.120820,[],...,135.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,"He found the girl of his dreams, he fell in lo...",Housefull,5.2,29,58051,"[{""cast_id"": 1, ""character"": ""Aarush"", ""credit...","[{""credit_id"": ""52fe4952c3a36847f81943a9"", ""de..."
3094,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",NaN,32740,[],hi,कृष,Krishna (Roshan) is born with magical powers -...,3.759988,[],...,154.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Krrish,5.5,46,32740,"[{""cast_id"": 1, ""character"": ""Krishna Mehra / ...","[{""credit_id"": ""57f69c2dc3a36810580001bc"", ""de..."
3162,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,132316,"[{""id"": 10540, ""name"": ""bollywood""}, {""id"": 15...",hi,Jab Tak Hai Jaan,"An ex-army man, leading a double life in Londo...",5.900535,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]",...,176.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Jab Tak Hai Jaan,7.3,66,132316,"[{""cast_id"": 1, ""character"": ""Major Samar Anan...","[{""credit_id"": ""52fe4b8fc3a368484e18f009"", ""de..."
3233,7700000,"[{""id"": 10749, ""name"": ""Romance""}]",http://www.facebook.com/YehJawaaniHaiDeewani,185008,[],hi,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani features two polar opp...,3.353176,"[{""name"": ""Dharma Productions"", ""id"": 19146}]",...,159.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Yeh Jawaani Hai Deewani,7.2,79,185008,"[{""cast_id"": 1, ""character"": ""Bunny"", ""credit_...","[{""credit_id"": ""52fe4cd39251416c75126bd7"", ""de..."
3332,0,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 35, ""...",http://www.yashrajfilms.com/microsites/TRRP/mi...,14165,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5626,...",hi,Ta Ra Rum Pum,"A poor New York resident, who is of Indian ori...",0.553752,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]",...,156.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Ta Ra Rum Pum,6.0,13,14165,"[{""cast_id"": 3, ""character"": ""Rajveer 'RV' Sin...","[{""credit_id"": ""52fe45d39251416c75063b65"", ""de..."
3379,7000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,4251,"[{""id"": 2038, ""name"": ""love of one's life""}, {...",hi,Veer-Zaara,The story of the love between Veer Pratap Sing...,3.721858,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]",...,192.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,A Love Legend,Veer-Zaara,7.4,64,4251,"[{""cast_id"": 11, ""character"": ""Veer Pratap Sin...","[{""credit_id"": ""52fe43b6c3a36847f8069a81"", ""de..."
3548,2200000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,7913,"[{""id"": 2387, ""name"": ""new delhi india""}, {""id...",hi,Rang De Basanti,"A young idealistic English filmmaker, Sue, arr...",5.206967,"[{""name"": ""Flicks Motion Pictures"", ""id"": 2319...",...,157.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,A Generation Awakens,Rang De Basanti,7.2,97,7913,"[{""cast_id"": 2, ""character"": ""DJ"", ""credit_id""...","[{""credit_id"": ""52fe4489c3a36847f809b7f5"", ""de..."
3558,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://www.dummaarodum.com/,63006,"[{""id"": 7090, ""name"": ""goa""}, {""id"": 33067, ""n...",hi,Dum Maaro Dum,"We hurtle into the bylanes, beach shacks and r...",0.075817,[],...,130.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Goa. Paradise on Earth. But every Paradise has...,Dum Maaro Dum,5.4,7,63006,"[{""cast_id"": 1, ""character"": ""ACP Vishnu Kamat...","[{""credit_id"": ""594c6f2c9251413127019d76"", ""de..."
3650,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",http://gandhimyfather.erosentertainment.com/,38428,"[{""id"": 5565, ""name"": ""biography""}, {""id"": 792...",hi,"Gandhi, My Father","With Gandhi My Father, producer Anil Kapoor an...",0.080704,[],...,136.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,To the People...He was a Father. To his Son......,"Gandhi, My Father",6.0,2,38428,"[{""cast_id"": 7, ""character"": ""Mahatma Gandhi"",...","[{""credit_id"": ""52fe46b89251416c9105d6e9"", ""de..."
3729,4500000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,375290,"[{""id"": 2227, ""name"": ""evacuation""}, {""id"": 60...",hi,Airlift,"When Iraq invades Kuwait in August, 1990, a ca...",2.551559,"[{""name"": ""T-Series"", ""id"": 3522}, {""name"": ""H...",...,126.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,"170,000 Refugees, 488 Flights, 59 Days, 1 Man",Airlift,7.3,57,375290,"[{""cast_id"": 6, ""character"": ""Ranjit Katyal"", ...","[{""credit_id"": ""5686869d92514131df01c607"", ""de..."
4173,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",NaN,157293,"[{""id"": 240, ""name"": ""underdog""}, {""id"": 271, ...",hi,एबीसीडी,When a capable dancer is provoked by the evil ...,1.294967,"[{""name"": ""UTV Motion Pictures"", ""id"": 2320}]",...,160.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,India's First 3D Dance movie,ABCD (Any Body Can Dance),5.6,10,157293,"[{""cast_id"": 7, ""character"": ""Vishnu"", ""credit...","[{""credit_id"": ""52fe4bbd9251416c910e4437"", ""de..."
4205,1000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,191714,[],hi,Dabba,A mistaken delivery in Mumbai's famously effic...,14.017809,"[{""name"": ""UTV Motion Pictures"", ""id"": 2320}]",...,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,The Lunchbox,7.3,221,191714,"[{""cast_id"": 2, ""character"": ""Saajan Fernandes...","[{""credit_id"": ""5476f65b9251415d7a0016eb"", ""de..."
4217,0,"[{""id"": 10749, ""name"": ""Romance""}]",NaN,74084,[],hi,दिल जो भी कहे,"During the British rule in India, several Indi...",0.122704,"[{""name"": ""Entertainment One Pvt. Ltd."", ""id"":...",...,0.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Dil Jo Bhi Kahey...,0.0,0,74084,"[{""cast_id"": 2, ""character"": ""Shekhar Sinha"", ...","[{""credit_id"": ""575d52eac3a3683168003910"", ""de..."
4301,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,480,"[{""id"": 516, ""name"": ""child abuse""}, {""id"": 59...",hi,Monsoon Wedding,From an exciting Indian wedding comes a relati...,8.109958,"[{""name"": ""IFC Films"", ""id"": 307}, {""name"": ""M...",...,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"A stressed father, a bride-to-be with a secret...",Monsoon Wedding,6.8,57,480,"[{""cast_id"": 3, ""character"": ""Lalit Verma"", ""c...","[{""credit_id"": ""52fe4248c3a36847f8012261"", ""de..."
4337,1250000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.yashrajfilms.com/microsites/rockets...,26815,"[{""id"": 3734, ""name"": ""ambition""}, {""id"": 1054...",hi,Rocket Singh: Salesman of the Year,Rocket Singh - Salesman of the Year is the som...,3.000435,"[{""name"": ""Yash Raj Films"", ""id"": 1569}]",...,156.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,Welcome to the world of sales boss!,Rocket Singh: Salesman of the Year,7.0,27,26815,"[{""cast_id"": 1, ""character"": ""Harpreet Singh B...","[{""credit_id"": ""52fe451ac3a368484e048bbf"", ""de..."
4377,1000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...",NaN,56666,"[{""id"": 236, ""name"": ""suicide""}, {""id"": 963, ""...",hi,Fiza,In 1993 Fiza's brother disappears during the r...,0.043023,[],...,170.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,In Search of her brother,Fiza,6.1,7,56666,"[{""cast_id"": 1003, ""character"": """", ""credit_id...","[{""credit_id"": ""52fe490cc3a36847f8186b9b"", ""de..."
4518,550000,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 18,...",NaN,211086,"[{""id"": 486, ""name"": ""himalaya""}, {""id"": 4096,...",hi,Faith Connections,A filmmaker's insight into the biggest gatheri...,0.480880,"[{""name"": ""Jungle Book Entertainment"", ""id"": 5...",...,115.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Faith Connections,4.2,3,211086,"[{""cast_id"": 3, ""character"": ""Himself"", ""credi...","[{""credit_id"": ""52fe4d8dc3a368484e1ef6dd"", ""de..."

In [7]:
# keeping only necessary columns
movies=movies[["movie_id", "title", "overview", "genres", "keywords", "cast", "crew"]]

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

###### Handling null values

In [10]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace=True)

###### Handling Duplicate Values

In [12]:
movies.duplicated().sum()

0

###### Formatting Columns

In [13]:
import ast
# converting genre and keywords
"""returning all genre and keywords"""
def convert(obj):
    lst = []
    for i in ast.literal_eval(obj):
        lst.append(i["name"])
    return lst

In [14]:
movies["genres"] = movies["genres"].apply(convert)
movies["keywords"] = movies["keywords"].apply(convert)

In [15]:
# converting cast
"""returning top 3 cast"""
def convert_top3(obj):
    lst = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter <3:
            lst.append(i["name"])
        counter +=1
    return lst

In [16]:
movies["cast"] = movies["cast"].apply(convert_top3)

In [17]:
# converting crew
"""fetching director"""
def fetch_director(obj):
    lst = []
    for i in ast.literal_eval(obj):
        if i["job"]=="Director":
            lst.append(i["name"])
            break
    return lst

In [18]:
movies["crew"] = movies.crew.apply(fetch_director)

In [19]:
# converting overview as list (for easy concatenation) with other columns
movies["overview"] = movies["overview"].apply(lambda x:x.split())

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [21]:
# removing whitespace to avoid confusion during searching e.g. in Sam Worthington and Sam Mendes
movies['genres'] = movies.genres.apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies.keywords.apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies.cast.apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies.crew.apply(lambda x:[i.replace(" ", "") for i in x])

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [23]:
movies['tags'] =  movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [25]:
df = movies[['movie_id', 'title', 'tags']]
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [26]:
new_df = df.copy()
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [27]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [28]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [29]:
new_df.shape

(4806, 3)

### Vectorization

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [31]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [32]:
vectors.shape

(4806, 5000)

In [33]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [34]:
import nltk

In [35]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [36]:
# function to stem the tags
def stemmer(text):
    lst = []
    
    for i in text.split():
        lst.append(ps.stem(i))
        
    return " ".join(lst)

In [37]:
new_df["tags"][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [38]:
stemmer('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [39]:
new_df['tags'] = new_df['tags'].apply(stemmer)
new_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [40]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [41]:
# calculate cosine distance similarity between movie vectors (to find out how similar or different two movies are)
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [42]:
similarity.shape

(4806, 4806)

In [43]:
similarity[0] # it gives similarity of first movie with every other movie

array([1.        , 0.08964215, 0.05976143, ..., 0.02519763, 0.02817181,
       0.        ])

**NOTE:** Similarity of first movie with first movie, second movie with second movie and so on will always be 1. Therefore the diagonal of **similarity matrix** will always be 1.

### Recommender System

In [54]:
def recommender_sys(movie):
    movie_loc = new_df.index[new_df['title']==movie][0]
    similar_movies = similarity[movie_loc]
    similar_movies = sorted(list(enumerate(similar_movies)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in similar_movies:
        print(new_df.iloc[i[0]].title)
        print(new_df.iloc[i[0]].movie_id)

**Note** <br>
similar_movies = sorted(list(enumerate(similar_movies)), reverse=True, key=lambda x:x[1])[1:6]

This line sorts movie similarity scores and selects the top 5 recommendations (excluding itself).  

1. `enumerate(similar_movies)`: Pairs indices with similarity scores 
2. `list(...)`: Converts the enumerated object into a list of tuples `(index, similarity_score)`.  
3. `sorted(..., reverse=True, key=lambda x: x[1])`: Sorts in descending order based on similarity scores.  
4. `[1:6]`: Skips the first (self) and selects the next 5 most similar movies.  

*Note*:
- **`key=lambda x: x[1]`**: This specifies a function to determine the sorting criteria.
  - **`lambda x: x[1]`**: A lambda function that takes each tuple `x` (which consists of `(index, similarity_score)`) and uses `x[1]` (the similarity score) for sorting.
  
This means the list is sorted based on the similarity scores in descending order.

In [55]:
recommender_sys("The Notebook")

Lovely, Still
51384
Veer-Zaara
4251
The Age of Adaline
293863
The Big Parade
3060
Mississippi Mermaid
1651

Porting files to the app.py file in Movie Recommender System

In [48]:
import pickle

In [53]:
pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))
# This first converts new df to a dict then stores it to movies.pkl as a byte stream

Later movies.pkl could be loaded back using pickle.load in app.py in Movie Recommender System

In [51]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [54]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))